.messageList {
  display: flex;
  height: 100%;
  align-items: end;
  overflow-y: scroll;
  padding: 0px 0px 10px 0;
  box-sizing: content-box;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(11, 20, 26, 0.2);
      border-radius: 10px;
    }
    &__wrapper {
      min-height: 50px;
      height: 1px;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
}

